# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
coverage/

# Environment files
.env
.env.*
!.env.example

# Vite
vite.svg

# macOS
.DS_Store

# Editor files
.vscode/
.idea/

# Vercel
.vercel/
